html,
body {
  height: 100%;
  font-family: "Gowun Batang";
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%; /*기본크기로 16px*/
}
a {
  color: #000;
  text-decoration: none !important;
}
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  background-color: #fcf9ee;
}
* {
  margin: 0;
  padding: 0;
}
a:hover {
  color: black;
}
p{

}
